<head>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script>
        $(function () {
            $('nav li ul').hide().removeClass('fallback');
            $('nav li').hover(function () {
                $('ul', this).stop().slideToggle(200);
            });
        });
    </script>
</head>
<nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='images/MediaKraken.png') }}" alt="Logo" style="width:40px;">
        <a class="navbar-brand" href="{{ url_for('public.home') }}" id="menu_home">PoeStat</a>
    </a>
    <ul class="navbar-nav">
        <li><a class="nav-link" href="{{ url_for('user.members') }}" id="menu_members">Home</a></li>
        <select name="account">
            <option value="f1be0429-338c-4ae9-b062-2b3c37d50289">spooticusmaximus</option>
        </select>
        <li><a class="nav-link" href="{{ url_for('admins.admins') }}" id="menu_server">Admin</a></li>
        <li><a class="nav-link" href="{{ url_for('public.about') }}" id="menu_about">About</a></li>
    </ul>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</nav>
