gevent==1.4.0
pillow==6.1.0
simplekv>=0.11.2
cython==0.29.12
Flask==1.1.1
Flask-Login==0.4.1
Flask-Bcrypt==0.7.1
Flask-WTF==0.14.2
Flask-Paginate>=0.5.1
Flask-Assets==0.12
Flask-SQLAlchemy==2.4.0
Flask-uWSGI-WebSocket==0.6.1
cryptography==2.7
uwsgi==2.0.18
pyexcel==0.5.14
natsort==6.0.0
passwordmeter==0.1.18
cssmin==0.2.0
incremental>=16.10.1
python-stdnum==1.11
Babel==2.7.0
docker==4.0.2
beautifulsoup4==4.7.1
pycountry==18.12.8
psutil==5.6.3
