gevent
pillow
simplekv>=0.11.2
cython
Flask
Flask-Login
Flask-Bcrypt
Flask-WTF
Flask-Paginate>=0.5.1
Flask-Assets
Flask-SQLAlchemy
Flask-uWSGI-WebSocket
cryptography
uwsgi
pyexcel
natsort
passwordmeter
cssmin
incremental>=16.10.1
python-stdnum
Babel
docker
beautifulsoup4
pycountry
psutil