{% extends "layout.html" %}
{% block content %}
<body id="data_background">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_webapp_layout.css') }}" media="all" rel="stylesheet" type="text/css"/>
    </head>
    <div class="row">
        <div class="col-sm-2">
            {% with data_items=data_items,
            account_player=account_player %}
            {% include "users/user_sidenav.html" %}
            {% endwith %}
        </div>
        <div class="col-sm">
            {% if stash_items %}
            {{ pagination.info }}
            {{ pagination.links }}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>ilvl</th>
                            <th>Name</th>
                            <th>Requirements</th>
                            <th>Implicit</th>
                            <th>Explicit</th>
                            <th>Flavor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row_data in stash_items %}
                        <tr>
                            <td>{{ loop.index + (page - 1) * per_page }}</td>
                            <td>{{ row_data[1]['typeLine'] }}</td>
                            <td>{{ row_data[1]['stackSize'] }}</td>
                            <td>{{ row_data[1]['ilvl'] }}</td>
                            <td>{{ row_data[1]['name'] }}</td>
                            <td>
                                {% if row_data[1]['requirements'] %}
                                    <tr>
                                    {% for row_data in row_data[1]['requirements'] %}
                                        <td>{{ row_data['name'] + ': ' + row_data['values'][0][0] + ' ' }}</td>
                                    {% endfor %}
                                    </tr>
                                {% endif %}
                            </td>
                            <td>
                                {% if row_data[1]['implicitMods'] %}
                                    <tr>
                                    {% for row_data in row_data[1]['implicitMods'] %}
                                        <td>{{ row_data + ' ' }}</td>
                                    {% endfor %}
                                    </tr>
                                {% endif %}
                            </td>
                            <td>
                                {% if row_data[1]['explicitMods'] %}
                                    <tr>
                                    {% for row_data in row_data[1]['explicitMods'] %}
                                        <td>{{ row_data + ' ' }}</td>
                                    {% endfor %}
                                    </tr>
                                {% endif %}
                            </td>
                            <td>
                                {% if row_data[1]['flavourText'] %}
                                    <tr>
                                    {% for row_data in row_data[1]['flavourText'] %}
                                        <td>{{ row_data + ' ' }}</td>
                                    {% endfor %}
                                    </tr>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {{ pagination.links }}
            {% else %}
            <p id="general_text">No items found. Have admin check the database!</p>
            {% endif %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
</body>
{% endblock %}
